# dependencies
node_modules/

# build output
dist/
out/
release/
*.tsbuildinfo

# electron-builder
apps/desktop/build/
apps/desktop/playwright-report/
apps/desktop/test-results/

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# env
.env
.env.local

# editor / os
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json
